In [1]:
import pandas as pd
import numpy as np

In [3]:
a10 = pd.read_csv('eu_gdp_a10_unstacked.csv')
del a10['Unnamed: 0']

In [5]:
a10.head()

  nace_r2 geo        time   values
0       A  FR  2018-10-01   9169.0
1       A  LT  2018-10-01    161.8
2     B-E  FR  2018-10-01  73053.0
3     B-E  LT  2018-10-01   2406.0
4       C  FR  2018-10-01  58967.0

In [13]:
a10.geo.unique()

array(['FR', 'LT', 'NL', 'AT', 'ES', 'NO', 'UK', 'CH', 'CY', 'CZ', 'FI',
       'IT', 'LU', 'LV', 'HU', 'BE', 'BG', 'DE', 'DK', 'EA', 'EA12',
       'EA19', 'EE', 'EL', 'EU15', 'EU27_2019', 'EU28', 'HR', 'IE', 'MK',
       'MT', 'PL', 'PT', 'RO', 'RS', 'SE', 'SI', 'SK', 'TR', 'XK', 'AL',
       'BA', 'ME'], dtype=object)

In [ ]:
eu_indexes = ['EA', 'EA12', 'EA19', 'EU15', 'EU27_2019', 'EU28']

In [20]:
eu_a10 = a10[a10.geo.isin(eu_indexes)]

In [24]:
eu_a10.groupby('geo').count()

           nace_r2  time  values
geo
EA            2280  2280    2280
EA12          2280  2280    2280
EA19          2280  2280    2280
EU15          2280  2280    2280
EU27_2019     2280  2280    2280
EU28          2280  2280    2280

In [28]:
eu_a10 = a10[a10.geo == 'EU28']

In [29]:
del eu_a10['geo']

In [31]:
piv_eu_a10 = pd.pivot_table(eu_a10, index='time', columns=['nace_r2'], values = 'values')
piv_eu_a10
#piv_eu_a10.to_csv("a10_eu28_stacked.csv")

In [55]:
co_a10 = a10[~a10.geo.isin(eu_indexes)]

In [33]:
co_a10 = co_a10[co_a10.nace_r2 != 'TOTAL']

In [35]:
pivot_a10 = pd.pivot_table(co_a10, index='time', columns=['geo', 'nace_r2'], values = 'values')
pivot_a10
#pivot_a10.to_csv("a10_by_country_stacked.csv")

In [37]:
co_a10 = co_a10[co_a10.nace_r2 == 'TOTAL']

In [39]:
del co_a10['nace_r2']
pivot_a10 = pd.pivot_table(co_a10, index='time', columns=['geo'], values = 'values')
pivot_a10.to_csv("a10_total_stacked.csv")

In [57]:
gdp = pd.read_csv('eu_gdp_unstacked.csv')
del gdp['Unnamed: 0']

In [58]:
gdp.geo.unique()

array(['AT', 'ES', 'FR', 'LT', 'NL', 'NO', 'UK', 'BE', 'BG', 'CH', 'CY',
       'CZ', 'DE', 'DK', 'EA', 'EA12', 'EA19', 'EE', 'EL', 'EU15',
       'EU27_2019', 'EU28', 'FI', 'HR', 'HU', 'IE', 'IT', 'LU', 'LV',
       'MK', 'MT', 'PL', 'PT', 'RO', 'RS', 'SE', 'SI', 'SK', 'TR', 'XK',
       'AL', 'BA', 'ME'], dtype=object)

In [ ]:
eu_indexes = ['EA', 'EA12', 'EA19', 'EU15', 'EU27_2019', 'EU28']

In [60]:
eu_a10 = gdp[gdp.geo == 'EU28']
del eu_a10['geo']
piv_eu_a10 = pd.pivot_table(eu_a10, index='time',  values = 'values')
piv_eu_a10.to_csv("a_gdp_eu28_stacked.csv")

In [62]:
co_a10 = gdp[~gdp.geo.isin(eu_indexes)]
pivot_a10 = pd.pivot_table(co_a10, index='time', columns=['geo'], values = 'values')
pivot_a10
pivot_a10.to_csv("a_gdp_by_country_stacked.csv")

``clear_labelled``:
- Current prices, million euro
- Unadjusted data (i.e. neither seasonally adjusted nor calendar adjusted data)